[package]
name = "vcard-wasm"
version = "0.1.0"
authors = ["Alexander Mut <alex@example.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
strsim = "0.10"
